*{
    margin: 0;
    padding: 0;
}
html,body{

        background-image: url(../maicra.jpg);
        background-size: cover;
}
.contenedor{
    width: 400px;
    height: 300px;
    background-color:rgba(206, 173, 29, 0.548);
    padding: 25px;
    margin: auto;
    border: solid black;
    margin-top: 2rem;

}