@keyframes animacion_test{
    from{
        background-color:#4ea93b;
    }
    to{
        background-color: #874421;
        }
    }
*{
    margin: 0px;
    padding: 0px;
    color: white;
   
}
html,body{
    background-image: url(../maicra.jpg);
    background-size: cover;
}
.contenedor{
    width: 401px;
    background-color: rgba(128, 128, 128, 0.705)  ; 
    display: flex;
    animation: animacion_test 2s alternate infinite;
    margin: auto;
    border: solid black;
}
.contenedor1{
    width: 400px;
    height: 300px;
    background-color:rgba(206, 173, 29, 0.548);
    margin: 15px;
    padding: 25px;
    margin: auto;
    border: solid black;
    

}